<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.redstudios.objecthunt">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ObjHunt"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".model.ImageFoundDialog"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog"></activity>

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClassifierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameOverActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>